# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.znajdzgomator3000.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\archp\Documents\GitProjects\znajdzgomator3000\.idea\.idea.znajdzgomator3000\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
